<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MoviePlaza.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E59157B71C430B210040F3B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E59157CB1C430B220040F3B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E59157D61C430B220040F3B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
